<!--<% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
<nav id="taxonomies" class="sidebar-item" data-hook>
  <% @taxonomies.each do |taxonomy| %>
    <% cache [I18n.locale, taxonomy, @taxon, max_level] do %>
      <h1 class='taxonomy-root'><%= t('spree.shop_by_taxonomy', taxonomy: taxonomy.name) %></h1>
      <%# binding.pry %>
      <%= taxons_tree(taxonomy.root, @taxon, max_level) %>
    <% end %>
  <% end %>
</nav>-->
<div class="wrapper-slider clearfix">
    <div class="spacer30"></div><!--spacer-->
        <div class="container">
            <div class="row">
                <div class="col-md-3 category">
                    <div class="category-contant" data-no-turbolink>
                        <h4 class="heading">Categories<i class="pull-right fa fa-angle-down"></i></h4>
                        <a id="categories" class="mobile-categories" href="#"><span class="all_categories">Categories</span><i class="pull-right fa fa-angle-right"></i></a>
                        <ul id="category-menu">
                            <% max_level = Spree::Config[:max_level_in_taxons_menu] || 1 %>
                            <% @taxonomies.each do |taxonomy| %>
                                <li>
                                    <%= link_to '#', method: :get do %>
                                        <%= taxonomy.name %>
                                        <i class="pull-right fa fa-angle-right"></i>
                                        <%= taxons_tree(taxonomy.root, @taxon, max_level, 0) %>
                                    <% end %>
                                </li>
                            <% end %>
                        </ul>
                    </div>
                </div>
                <!--End category-->
                <!--Slider block-->
                <div class="col-md-6 col-sm-8 slider-main">
                    <div>
                        <div class="b_silde clearfix">
                            <div class="owl-carousel slider">
                                <div class="item">
                                    <a href="#"><img src="images/slider/slider-1.jpg" alt="img-1"/></a>
                                    <div class="caption">
                                        <h3><span>E Shop</span></h3>
                                        <span>Amazing Chance</span>
                                        <a href="#">Order Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="images/slider/slider-2.jpg" alt="img-1"/></a>
                                    <div class="caption">
                                        <h3><span>Accessories Store</span></h3>
                                        <span>Be the first to get discount.</span>
                                        <a href="#">Order Now</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <a href="#"><img src="images/slider/slider-3.jpg" alt="img-1"/></a>
                                    <div class="caption">
                                        <h3><span>Women Fashion</span></h3>
                                        <span>Amazing Chance</span>
                                        <a href="#">Order Now</a>
                                    </div>
                                </div>
                            </div>
                            <!---------End slider----------->
                            <!--------------Deal product slider---------------------->
                            <div class="deal-product">
                                <h4 class="heading">Best sale of the week</h4>
                                <div class="owl-carousel week-deal item-block">
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="new offer">New</span>
                                                <a href="#"><span><img src="images/products/women/clothing/products-img-6.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/footwear/products-img-7.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="pro offer">10% Off</span>
                                                <a href="#"><span><img src="images/products/women/jewellery/products-img-8.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="new offer">New</span>
                                                <a href="#"><span><img src="images/products/women/bags/products-img-9.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/clothing/products-img-6.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="pro offer">06% Off</span>
                                                <a href="#"><span><img src="images/products/women/footwear/products-img-7.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                        <li class="image-block">
                                            <a href="#"><span><img src="images/products/women/jewellery/products-img-8.jpg" alt=""/></span></a>
                                            <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/bags/products-img-9.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="new offer">New</span>
                                                <a href="#"><span><img src="images/products/women/clothing/products-img-6.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/footwear/products-img-7.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <span class="new offer">New</span>
                                                <a href="#"><span><img src="images/products/women/jewellery/products-img-8.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/bags/products-img-9.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">Professional Hxr-Mc2500 Camcorder Camera</a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-item">
                                        <ul class="products-row">
                                            <li class="image-block">
                                                <a href="#"><span><img src="images/products/women/clothing/products-img-6.jpg" alt=""/></span></a>
                                                <a class="add-to-cart" href="#">Add to cart</a>
                                                <div class="a-link">
                                                    <a class="l-1" href="#"><i class="fa fa-shopping-bag"></i></a>
                                                    <a class="l-2" href="#"><i class="fa fa-heart"></i></a>
                                                    <a class="l-3" href="#"><i class="fa fa-exchange"></i></a>
                                                    <a class="l-4" href="#"><i class="fa fa-search"></i></a>
                                                </div>
                                                <div class="review_star">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half"></i>
                                                </div>
                                            </li>
                                            <li class="products-details">
                                                <a href="#">
                                                    Professional Hxr-Mc2500 
                                                    Camcorder Camera
                                                </a>
                                                <span>$1600</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--End deal product slider-->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="s-right-block clearfix">
                        <div class="right-banner">
                            <a href="#">
                                <img src="images/banner/banner-img-6.jpg" alt=""/>
                                <span class="banner-details">Get 10% Off</span>
                            </a>
                        </div>
                        <div class="customer-choice"><!-- Choice Product-->
                            <h4 class="heading">Customer's Choice</h4>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <img src="images/products/phone/accessories/products-img-7.jpg" alt=""/>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <img src="images/products/phone/accessories/products-img-7.jpg" alt=""/>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                            <div class="choice-product clearfix">
                                <a href="#">
                                    <div class="choice-images">
                                        <img src="images/products/phone/accessories/products-img-7.jpg" alt=""/>
                                    </div>
                                    <div class="choice-text">
                                        <h5>Product Name</h5>
                                        <span>$1500</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


